<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main.ejs</title>
</head>
<body>
    
    <h1>main page</h1>

    <h3>welcome. No. <%= id %> User! </h3>

    <p>asdjflksfnbdlfakbnadlkfjgawejiowejoi</p>

    <img src="images/서현진.jpg" alt="" width="300px">

    <div><a href='/logout'>logout</a></div>
</body>
</html>